## Loops
###### .There may be a situation when you need to execute a block 0f code several number of times.
###### .To iterate over items or elements in a given seq like list, str, dict or tup
###### .In general statements are executed sequentially: The first statement in a function is executed first,followed by the second,and so on paths.

### Iteration or loops- repeate action
###### .for loop
###### .for iterator_name in iterating_sequence:
###### .statement 1
###### .statement 2
###### . while loop
###### .until the condition satisfies

## For loop
###### The for loop in python is used to iterate over a sequence(list,tuple,string)or other iterable objects.
###### lopp continues until we reach the last item in the sequence
###### the body of for loop is separated form the rest of the code using indentation

## Syntax:

###### for element in sequence:
###### Body of for
###### Here elements is the variable that takes the value of the item inside the sequence on each iteration.
###### loop continue untill we reach the last in the sequence.

In [2]:
s=[1,2,3,4,5,6]
for i in s:
    print(i)

1
2
3
4
5
6

In [12]:
s=[1,2,3,4,5,6]
for no in s:
    print(no,end=',')

1,2,3,4,5,6,

In [8]:
fruits=['apple','banana','orange','grapes','mango']
for f in fruits:
    print(f,end=' ,')

apple ,banana ,orange ,grapes ,mango ,

In [13]:
s=[1,2,3,4,5,6]
for no in s:
    print(no,end=' ')

1 2 3 4 5 6

In [15]:
for j in range(6):
    print(j,"rama")

0 rama
1 rama
2 rama
3 rama
4 rama
5 rama

In [16]:
for x in range(70,10,-3):
    print(x,end=' ')

70 67 64 61 58 55 52 49 46 43 40 37 34 31 28 25 22 19 16 13

In [19]:
list=['l1','l2','l3','l4','l5','l6']
for x in range(len(list)):
    print('item at index',x,'is:',list[x])

item at index 0 is: l1
item at index 1 is: l2
item at index 2 is: l3
item at index 3 is: l4
item at index 4 is: l5
item at index 5 is: l6

In [6]:
# To print sum of n whole numbers
A=[10,20,30,40]
add1=0 # Initialization

for i in A:
    add1=add1+i
print("sum:",add1)

sum: 100

In [9]:
# To print sum of n whole numbers
A=[10,20,30,40]
add1=0 # Initialization

for i in A:
    add1=add1+i
    print("sum:",add1)

sum: 10
sum: 30
sum: 60
sum: 100

In [10]:
a=5
b=10
for i in range(a,b+1):
    print(i,end=',')

5,6,7,8,9,10,

In [21]:
a1=int(input('enter lower bound values'))
b1=int(input('enter upper bound values'))
for i in range(a1,b1+1):
    if i%2==0:
        print(i,end=',')

enter lower bound values 10
enter upper bound values 30

10,12,14,16,18,20,22,24,26,28,30,

In [24]:
for no in range(1,50):
    if no%5 == 0 and no%7!=0:
        print(no)

5
10
15
20
25
30
40
45

In [30]:
a2=int(input('enter multiplication table'))
for x in range(1,11):
    print(a2,'*',x,'=',a2*x)

enter multiplication table 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [32]:
n=int(input('enter the no:-'))
for y in range(n):
    for z in range(n+1,):
        print("*",end=" ")

enter the no:- 4

* * * * * * * * * * * * * * * * * * * *

## list comprehension
###### List comprehension provide a concise way to create lists.
###### Common application are to make new list where each elements is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain codition.

In [39]:
# without list comparehension
l=[]
for i in range(15):
    l.append(i**2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [41]:
# using list comparehension
l=[i**2 for i in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
flims=['kalki','kgf','bahubali','rrr','jalier']
[len(x)for x in flims]

[5, 3, 8, 3, 6]

In [4]:
l1=[-4,-3,-8,-9,-1,-6,6,2]
both=[]
for y in l1:
    if y < 0:
        both.append(abs(y))
    else:
        both.append(y**2)
both

[4, 3, 8, 9, 1, 6, 36, 4]

In [5]:
[abs(y) if y < 0 else y**3 for y in l1]

[4, 3, 8, 9, 1, 6, 216, 8]

In [1]:
l1=[20,'rama','prabhas',35,38,'jaga']
for x in l1:
    if type(x)==int:
        print(x)

20
35
38

### Set Comprehension

In [9]:
flims=['kalki','bahubal','RRR','pathon','jawan']
a=set()
for x in flims:
    a.add(len(x))
print(a)

{3, 5, 6, 7}

In [12]:
flims=['kalki','bahubali','RRR','pathon','jawan']
{len(y) for y in flims}

{3, 5, 6, 8}

### Enumerate
##### Enumerate use see the index no

In [25]:
flims={'kalki':7,'bahubal':8,'RRR':5,'pathon':3,'jawan':9}
{x:y for x , y in enumerate(flims)}

{0: 'kalki', 1: 'bahubal', 2: 'RRR', 3: 'pathon', 4: 'jawan'}

### Python break Statement
###### in Python,break and continue statements can alter the flow of a noraml loop.
###### Loop iterate over a block of code until test expression is false,but sometimes we wish to terminate the current iteration or even the whole loop without chekng test expression.

In [18]:
n=[1,2,3,4,5]
for no in n:
    if no == 4:
        break
    print(no)

1
2
3

In [43]:
n=[1,2,3,4,5]
for no in n:
    if no == 4:
        # print(no)
        # print(no)
        # break
        continue
    print(no)

1
2
3
5

In [57]:
n=[1,2,3,4,5,6]
for no in n:4
    if no==4:
        # print(no)
        continue
        print(no)

IndentationError: unexpected indent (1385178059.py, line 3)

In [65]:
i=[1,2,3,4,5,6]
for n  in i:
    if n == 4:
        continue
    print("This is the end one-",n)

This is the end one- 1
This is the end one- 2
This is the end one- 3
This is the end one- 5
This is the end one- 6

In [63]:
i=[1,2,3,4,5,6]
for n  in i:
    if n == 4:
        continue
print("This is the end one-",n)

This is the end one- 6

### Python Continue Statement
###### Syntax: continue

#### Flow Chart

In [1]:
no=[1,2,3,4,5]
for n in no:
    if n %2==0:
        continue
    print(n)

1
3
5

#### For loop with else

###### A for loop can have an optional else block as well.The else part is executed if the items in the sequence used in for loop exhausts.
###### break statemnt can be used to stop a for loop. in such case, the else part is ignored.
###### Hence ,a for loop's else part runs if no break occurs.

In [4]:
n=[1,2,3]
for i in n:
    print(i)
else:
    print('no item left in the list')

1
2
3
no item left in the list

In [6]:
n=[1,2,3,4]
for j in n:
    if j%2==0:
        print(j)

2
4

In [7]:
n=[1,2,3,4]
for k in n:
    if k%2==0:
        print(k)
        break

2

#### While loop

###### The while loop python is used to iterate over a block of code as long as the test expression (condition) is true.
###### We generally use this loop when we don't know beforehand, the number of times to iterate.
###### In while loop,test expression is chacked first. The body of the loop is entered only if the test_expression evaluates to True.After one iteration ,thetest expression is checked again.This process continues untl the test_expression evaluates to False.
###### In Python, the body of the whhile loop is determind through indention.
###### Body starts with indention and the first unindented line marks the end.
###### Python interprets any non-zero value as True. None and 0 are interpreted as False.

##### While loop syntax
###### While test_expression:
###### Body of While
###### The body of the loop is entered only if the test_expression evaluates to True.After one iteration,the test rxpression is checked again.
###### thisw process continue untill the test_expression evaluates to False.

In [ ]:
x=0
while x<8:
    print('x is ',x)
    x=x+1

In [ ]:
x=8
while x>1:
    print('x is {}'.format))
    x-=1

In [ ]:
i=100
s=20
while i<500:
    s=s+i
    i=i+100
print(s)

In [ ]:
i=0
s=0
while (i<=5):
    s=s+1
    i+=2
print(s)

In [ ]:
i=0
s=0
while(i<=10):
    s=s+i
    i+=2
print(s)

In [ ]:
x=0
print(x)
while x<5:
    x=x+1
print(x)

In [ ]:
# program to print 0 to 100 (inclusive) whole numbers
i=0
while(i<=100):
    print(i,end=' ')
    i=i+1

In [ ]:
# program to 'n' add naural numbers --> sum=1+2+3+...+n
n=int(input('Enter n:'))
sum = 0
i=1
while i<=n:
    sum = sum+i
    i=i+1
print('The sum is',sum)

In [ ]:
# Ask the use to enter the numbers and sum it
s=0
while True:
    a=input('enter a value:')
    if (a=='done'):
        break
    s=s+int(a)
print(s)

### While Loop with else

###### Same as that of for loop,we can have an optional else block with while loop as well.
###### The else part is executed if the condition in the loop evaluates to False.The while loop can be terminated with a break statement.
###### In such case, the else part is ignored .Hence ,a while loop's else part runs if no break occurs and the condition is false.

In [ ]:
x=8
while x>1:
    print('x is {}',format(x))
    x-=1
    if x==9:
        break
else:
    print)'x is no longer greater than 1')

In [ ]:
x=0
while x<8:
    print('x is {}'.format(x))
    x+=1
else:
    print('x is no longer < 8')

In [ ]:
num =[1,2,3,4,5]
index =0
while index< len(num):
    print(num[index])
    index +=1
else:
    print('no item left in the list')

### Factorial

In [ ]:
No=int(input("Enter a number: "))
if No < 0:
    print("Factorial is not defined for negative numbers.")
else:
    F = 1
    X = No
    while X > 0:
        F=F*X
        X=X-1
    print("The factorial of",No,"is",F)